.history{
 border-radius: 5px;
 box-shadow: -1px 3px 5px 0px rgba(117, 8, 84, 0.75);
 background-color: antiquewhite;
 
  width: 90% ;
}
.active{
  
    border-radius: 5px;
    box-shadow: -1px 3px 5px 0px rgba(234, 72, 54, 0.75);
    background-color: antiquewhite;
     height : 120px;
     width: 90% ;
   
}
.Null{

 padding-left: 35%;
}

.Nuller{
  
  padding-left: 49%;
}